In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/02 20:14:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [21]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [22]:
df_green.registerTempTable("green_table")

/opt/homebrew/Cellar/apache-spark/3.5.0/libexec/python/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [23]:
df_green_revenue = spark.sql("""
SELECT 
    -- Reveneue grouping 
    date_trunc('hour', lpep_pickup_datetime) AS revenue_hour, 
    PULocationID AS revenue_zone,

    -- Revenue calculation 
    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green_table
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    revenue_hour, revenue_zone
ORDER BY
    revenue_hour, revenue_zone
""")

In [24]:
df_green_revenue.repartition(24)

DataFrame[revenue_hour: timestamp, revenue_zone: int, amount: double, number_records: bigint]

In [25]:
df_green_revenue \
    .repartition(24) \
    .write.parquet('data/report/revenue/green/', mode='overwrite')

24/03/02 20:20:44 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [26]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [27]:
df_yellow.registerTempTable("yellow_table")

In [29]:
df_yellow_revenue = spark.sql("""
SELECT 
    -- Reveneue grouping 
    date_trunc('hour', tpep_pickup_datetime) AS revenue_hour, 
    PULocationID AS revenue_zone,

    -- Revenue calculation 
    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow_table
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    revenue_hour, revenue_zone
ORDER BY
    revenue_hour, revenue_zone
""")

In [30]:
df_yellow_revenue.repartition(24)

DataFrame[revenue_hour: timestamp, revenue_zone: int, amount: double, number_records: bigint]

In [31]:
df_yellow_revenue \
    .repartition(24) \
    .write.parquet('data/report/revenue/yellow/', mode='overwrite')

24/03/02 20:21:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/03/02 20:21:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/03/02 20:21:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
24/03/02 20:21:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/03/02 20:21:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/03/02 20:21:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/03/02 20:21:04 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/03/02 20:21:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [32]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

In [33]:
df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [37]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['revenue_hour', 'revenue_zone'], how='outer')

In [38]:
df_join.show()

+-------------------+------------+------------------+--------------------+-----------------+---------------------+
|       revenue_hour|revenue_zone|      green_amount|green_number_records|    yellow_amount|yellow_number_records|
+-------------------+------------+------------------+--------------------+-----------------+---------------------+
|2020-01-01 00:00:00|           3|              NULL|                NULL|             25.0|                    1|
|2020-01-01 00:00:00|          40|            168.98|                   8|            89.97|                    5|
|2020-01-01 00:00:00|          45|              NULL|                NULL|732.4800000000002|                   42|
|2020-01-01 00:00:00|          47|              13.3|                   1|              8.3|                    1|
|2020-01-01 00:00:00|          51|              17.8|                   2|             31.0|                    1|
|2020-01-01 00:00:00|          68|              NULL|                NULL|7825.070000000015|                  396|
|2020-01-01 00:00:00|          73|              NULL|                NULL|             17.3|                    1|
|2020-01-01 00:00:00|          77| 75.99000000000001|                   2|           134.24|                    3|
|2020-01-01 00:00:00|          80|            364.32|                  13|            371.4|                   20|
|2020-01-01 00:00:00|          83|              94.1|                   7|              9.8|                    1|
|2020-01-01 00:00:00|          95|202.20000000000002|                  15|              6.3|                    1|
|2020-01-01 00:00:00|         133|              NULL|                NULL|             27.3|                    1|
|2020-01-01 00:00:00|         134| 69.05000000000001|                   6|             NULL|                 NULL|
|2020-01-01 00:00:00|         135|              NULL|                NULL|             18.3|                    1|
|2020-01-01 00:00:00|         141|              NULL|                NULL|4306.829999999996|                  283|
|2020-01-01 00:00:00|         164|              NULL|                NULL|5448.930000000004|                  292|
|2020-01-01 00:00:00|         196|             37.91|                   2|             35.6|                    2|
|2020-01-01 00:00:00|         239|              NULL|                NULL|7890.140000000014|                  464|
|2020-01-01 00:00:00|         259|            131.24|                   7|             NULL|                 NULL|
|2020-01-01 00:00:00|         260|296.25000000000006|                  21|            74.14|                    8|
+-------------------+------------+------------------+--------------------+-----------------+---------------------+
only showing top 20 rows

In [39]:
df_join.write.parquet('data/report/revenue/total/', mode='overwrite')

24/03/02 20:24:44 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/03/02 20:24:44 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/03/02 20:24:44 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
24/03/02 20:24:44 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/03/02 20:24:44 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [40]:
df_join = spark.read.parquet('data/report/revenue/total/')

In [42]:
df_join.show()

+-------------------+------------+------------------+--------------------+------------------+---------------------+
|       revenue_hour|revenue_zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+------------+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|          22|              15.8|                   1|              NULL|                 NULL|
|2020-01-01 00:00:00|          33|317.27000000000004|                  11|            255.56|                    8|
|2020-01-01 00:00:00|          35|            129.96|                   5|              NULL|                 NULL|
|2020-01-01 00:00:00|          52| 83.33000000000001|                   4|              49.8|                    2|
|2020-01-01 00:00:00|          55|            129.29|                   4|              NULL|                 NULL|
|2020-01-01 00:00:00|          56|             99.69|                   3|              18.1|                    2|
|2020-01-01 00:00:00|          70|54.900000000000006|                   3|               9.3|                    1|
|2020-01-01 00:00:00|         112|312.26000000000005|                  18|119.47999999999999|                    8|
|2020-01-01 00:00:00|         136|            111.68|                   2|             168.0|                    4|
|2020-01-01 00:00:00|         146| 99.36999999999999|                   6|            110.74|                    7|
|2020-01-01 00:00:00|         152|58.519999999999996|                   6|            251.73|                   16|
|2020-01-01 00:00:00|         157|             52.86|                   2|             57.06|                    2|
|2020-01-01 00:00:00|         186|              NULL|                NULL| 4011.449999999998|                  188|
|2020-01-01 00:00:00|         254| 73.82000000000001|                   3|            146.04|                    4|
|2020-01-01 00:00:00|         265|              NULL|                NULL|1041.5199999999998|                   15|
|2020-01-01 01:00:00|          33|            283.14|                  10| 632.2400000000001|                   32|
|2020-01-01 01:00:00|          37|             88.16|                   4|            736.46|                   24|
|2020-01-01 01:00:00|          41| 819.4999999999997|                  61|1485.2899999999995|                   98|
|2020-01-01 01:00:00|          43|             21.76|                   2| 3341.989999999997|                  201|
|2020-01-01 01:00:00|          48|              NULL|                NULL| 12848.59000000004|                  607|
+-------------------+------------+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [43]:
df_zones = spark.read.parquet('zones')

In [45]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [46]:
df_join_zone = df_join.join(df_zones, df_join.revenue_zone == df_zones.LocationID)

In [51]:
df_join_zone.drop('LocationID').write.parquet('tmp/revenue-zones', mode='overwrite')

24/03/02 20:39:23 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/03/02 20:39:23 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/03/02 20:39:23 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
24/03/02 20:39:24 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/03/02 20:39:24 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers